---
// Importa los componentes de cada sección
import Hero from '../components/Hero.astro';
import Problema from '../components/Problema.astro';
import Solucion from '../components/Solucion.astro';
import Caracteristicas from '../components/Caracteristicas.astro';
import Beneficios from '../components/Beneficios.astro';
import Target from '../components/Target.astro';
import AboutUs from '../components/AboutUs.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
import '../styles/main.css';
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sensor Stock: Optimización de Inventarios con Tecnología Avanzada</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <Hero />
    <Problema />
    <Solucion />
    <Caracteristicas />
    <Beneficios />
    <Target />
    <AboutUs />
    <Contacto />
    <Footer />
  </body>
</html>